@mixin cont-margins {
  display:block;
  margin-top:5px;
  margin-bottom:5px; 
  margin-left:4%;
  margin-right:4%;
  border-radius:5px;
}

body {
  background:url('../images/background.png');
}

#logo {
 background:url('../images/logo.png') no-repeat;
 margin:20px;
 padding:45px;
}

.result {
  background: white;
  width:350px;
  border-radius:5px;
}

#sidebar {
  
  float:left;
  width:20%;
  background:#202020;
  text-align:center;
  @include cont-margins;

  ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;

    li {
      border-top: 1px solid #333;
      border-bottom: 1px solid #111;

      &:first-child {
        border-top:none;
      }

      &:last-child {
        border-bottom:none;
      }
      
      .active {
          background:#111;
      }
      
      a {
        padding: 10px;
        display:block;
        color: #fff;
        text-decoration:none;

        &:hover {
          background:#111;
        }

      }

    }

  }
  
}

#content {
  float:right;
  width:60%;
  background:#f5f5f5;
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  padding:15px;
  @include cont-margins;
}

fieldset {
  border: none;
  border-radius:5px;
  margin:5px;
  padding:5px;

  input.text {
    font-size: 28px;
    color:#505050;
    height:40px;
    width:220px;
    margin:5px;
    border-radius:5px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));/*Chrome and Safari*/
  }

  input.bt {
    border-radius:5px;
    background: #617798;
    -webkit-box-shadow: #c6c6c6 2px 2px 2px;
    margin: 5px;
    font-size:16px;
    height:45px;
    width:100px;
    border:0.5px solid #202020;
    color: #fff;

    &:hover {
      background: #415576;
    }
  }
}

ul.error-messages {
  float:right;
  line-height: 1em;
  width:40%;
  display: none;
  list-style:none;
  text-align:center;
    li {
      font-size: 10px;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 #9F4631;
      border: 0;
      color: white;
      background: red;
      padding: 5px 20px;
      margin-top: -5px;
      border-radius:4px;
    }
}

footer {
  width:100%;
  color:#fff;
  text-align:center;
  background: #202020;
  position: absolute;
  clear:both;
  bottom:0;
}

img {
  margin-left:5%;
}